:root {
    --clr-primary-400: hsl(215, 28%, 17%);
    
    --clr-neutral-100: #F9FAF8;
    --clr-neutral-200: #E5E7EB;

    --clr-accent-400: hsl(217, 91%, 59%);

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;

    --ff-primary: "Inter", sans-serif;
    --ff-accent: "Plus Jakarta Sans", sans-serif;

    --br-card: 10px;
    --br-btn: 8px;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

/* utility */

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.gap > * + * {
    margin-top: 3.5rem;
}

/* header */

.header {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding: 2rem 0;
}

/* navbar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: var(--fs-600);
    font-weight: 900;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: currentColor;
    text-decoration: none;
}

/* hero */

.hero {
    display: flex;
    align-items: center;
    gap: 8rem;
    padding: 6rem 0;
}

.hero-content {
    text-align: left;
    text-wrap: pretty;
}

.hero-title {
    font-family: var(--ff-accent);
    font-size: var(--fs-800);
    font-weight: 900;
    letter-spacing: 2px;
}

.hero-title span {
    width: 31.25ch;
    font-size: var(--fs-500);
    display: block;
    text-align: right;
}

.hero-desc {
    font-size: var(--fs-500);
    margin-block: 2rem 2.5rem;
    line-height: 1.8;
}

.hero-image {
    width: 480px;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 8px 10px 8px -5px hsl(215, 28%, 10%);
}

/* tourist attraction */

.attractions-title {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-size: var(--fs-700);
    font-weight: 900;
}

.card-group {
    display: flex;
    gap: 24px;
}

.card {
    flex: 1;
    margin-block: 3.5rem;
    text-align: left;
    box-shadow: 8px 10px 8px -5px hsla(215, 28%, 17%, 0.25);
}

.card-img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-family: var(--ff-accent);
    font-size: var(--fs-500);
    margin-block: 1rem 0;
}

.card-desc {
    max-width: 22ch;
    margin-block: 1rem;
    text-wrap: pretty;

}

/* CITATION */

.citation {
    background-color: var(--clr-neutral-200);
    padding-block: 7.5rem 3.75rem;
}

.quote {
    color: var(--clr-primary-400);
    font-size: var(--fs-700);
    font-style: italic;
    font-weight: 300;
}

.author {
    font-family: var(--ff-accent);
    font-size: var(--fs-700);
    font-weight: 800;
    margin-block: 2rem 0;
    text-align: right;
}

/* CTA */

.cta {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.75rem 7.5rem;
    border-radius: 8px;
}

.cta-content {
    text-align: left;
}

.cta-title {
    font-family: var(--ff-accent);
}

.cta-desc {
    color: var(--clr-neutral-200);
}

.footer {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding: 2.25rem;
}

/* button */

.btn {
    background-color: var(--clr-accent-400);
    color: currentColor;
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: 600;
    padding: .5em 2em;
    border: none;
    border-radius: var(--br-btn);
    cursor: pointer;
}

.btn[data-type="border"] {
    border: 2px solid var(--clr-neutral-100);
}